.online{
    .rightbar-friend{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;
        .rightbar-profile-image-container{
            display: flex;
            position: relative;
            margin-right: 10px;
            .rightbar-profile-image{
                width: 43px;
                height: 43px;
                border-radius: 50%;
                object-fit: cover;
            }
            .rightbar-online{
                position: absolute;
                background-color: lightgreen;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                top: -6px;
                right: -6px;
                border: 2px solid white;
            }
        }
        .rightbar-user-name{
            font-weight: 500;
            color: #333;
        }
    }
}

