.sidebar{
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  top: 5opx;
  overflow-y: scroll;
  .sidebar-wrapper {
    padding: 20px;

    .sidebar-btn {
      background-color: #011631;
      color: #f1f1f1;
      border-radius: 5px;
      font-weight: 500;
      padding: 10px;
      margin: 20px;
      width: 150px;
      border: none;
      cursor: pointer;
    }

    .sidebar-hr {
      margin: 10px 0;
    }

    .sidebar-friend-list {
      padding: 0;
      margin: 0;
      list-style: none;

    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

// responsiveness

@media only screen and (max-width: 992px) {
  .sidebar {
    flex: 1;

    .sidebar-btn {
      display: none;
    }

    .sidebar-wrapper {
      padding: 17px;
    }

    .sidebar-hr {
      display: none;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    display: block;

    .sidebar-wrapper {
      padding: 3px;
    }

  }
}

@media only screen and (max-width: 576px) {
  .sidebar {
    display: none;

    .sidebar-wrapper {
      padding: 3px;
    }

  }
}
