.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #0033A0 33.33%, #FFFFFF 33.33% 66.66%, #009739 66.66%);

  // Full-Screen Mokorotlo
  &::before {
    content: '';
    position: absolute;
    top: 10vh;  // Adjust position
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 60vh;
    background: linear-gradient(to bottom, #0033A0 33.33%, #FFFFFF 33.33% 66.66%, #009739 66.66%);
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: 20vh;
    background-color: black;  // Black base
    border-radius: 50%;
    clip-path: polygon(50% 10%, 100% 100%, 10% 100%);
    z-index: 1;
  }

  .wrapper {
    position: relative;
    z-index: 2;
    width: 420px;
    height: 450px;
    background: rgba(46, 139, 87, 0.85);
    color: #f1f1f1;
    border-radius: 10px;
    padding: 40px;

    .form-box {
      width: 100%;
      margin: auto;

      h1 {
        font-size: 36px;
        text-align: center;
      }

      .input-box {
        width: 100%;
        height: 50px;
        margin: 30px 0;

        Input {
          width: 100%;
          height: 100%;
          background-color: transparent;
          outline: none;
          border: 2px solid rgba(255, 255, 255, .1);
          border-radius: 40px;
          font-size: 16px;
          color: black;
        }
      }

      button {
        width: 100%;
        height: 45px;
        background-color: #f1f1f1;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-size: 18px;
        color: black;
        font-weight: 700;
      }

      .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;

        p a {
          color: #f1f1f1;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;

        label input {
          accent-color: #f1f1f1;
          margin-right: 4px;
        }

        a {
          color: #f1f1f1;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
