.menu-link {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;

    .sidebar-icon {
        margin-right: 10px;
        font-size: 30px;
        color: #011631;
    }

    .menu-link-text {
        margin-right: 5px;
    }

    .menu-link-text-name {
        font-weight: 700;
        font-size: 18px;
    }

    &:hover {
        background-color: #a0aec0;
        color: white;
    }
}

// responsiveness

@media only screen and (max-width: 992px) {
    .menu-link {
        display: block;

        .menu-link-text {
            display: none;
        }

        .menu-link-text-name {
            display: none;
        }

        .sidebar-icon{
            &:hover{
                color: #f1f1f1;
            }
        }

        &:hover {
            display: block;
            background-color: #4a5568;
            color: #f1f1f1;
        }
    }
}

