.main-section{

  .left-section{
    background-color: #00324A;

    .profile{
      width: 100%;
      border-bottom: 1px solid #f7f7f7;

      img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        border: 8px solid #f7f7f7;
      }
    }

    .contacts-main-title{
      font-size: 1.8rem;
      text-align: start;
      text-transform: uppercase;
      color: #f7f7f7ec;
      padding-top: 2rem;
    }
  }
}